html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background: #efefef;
  font-family: "open sans", sans-serif; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

*:hover,
*:focus,
*:active {
  outline: 0; }

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

/**Header*/
.header {
  position: relative;
  margin-bottom: 75px;
  box-sizing: content-box; }

.head-bar {
  z-index: 3;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: -webkit-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  -moz-transition: -webkit-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  -ms-transition: -webkit-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  transition: -webkit-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out; }

.head-bar-inner {
  width: 100%;
  max-width: 1550px;
  padding: 10px 15px;
  margin: 0 auto; }

.head-bg {
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block; }
  .head-bg:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4c545f; }

@media (max-width: 767px) {
  .head-bar {
    padding-top: 0;
    padding-bottom: 0;
    position: relative; }
    .head-bar .row > div {
      position: static; } }

/* logo */
.logo {
  color: #9a9da2 !important;
  font: 400 30px/40px "Fredoka One", sans-serif;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 7px; }
  .logo:hover {
    text-decoration: none; }
  .logo span {
    color: #26cc63; }

@media (max-width: 767px) {
  .logo {
    margin-top: 0; } }

/*Navigation*/
.head-nav {
  position: relative;
  padding: 7px 55px 7px 0;
  min-height: 55px; }
  .head-nav .nav {
    float: right;
    margin-right: 30px;
    display: block; }
    .head-nav .nav a {
      white-space: nowrap;
      font-family: "open sans", sans-serif; }
    .head-nav .nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .head-nav .nav ul > li {
        float: left;
        margin: 0 30px 0 0;
        position: relative; }
        .head-nav .nav ul > li:last-child {
          margin-right: 0; }
        .head-nav .nav ul > li > a {
          color: #dbdddf;
          font: 700 13px/1;
          text-transform: uppercase;
          display: inline-block;
          padding: 15px 0 12px;
          position: relative; }
          .head-nav .nav ul > li > a:hover {
            text-decoration: none; }
          .head-nav .nav ul > li > a:after {
            content: '';
            display: block;
            position: absolute;
            background: #06cb79;
            left: 50%;
            top: 100%;
            width: 0;
            height: 3px;
            -webkit-transition: width .2s linear 0s;
            -moz-transition: width .2s linear 0s;
            -ms-transition: width .2s linear 0s;
            transition: width .2s linear 0s;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%); }
        .head-nav .nav ul > li.active > a:after, .head-nav .nav ul > li:hover > a:after {
          width: 100%; }

.head-nav .btn-mobile-nav,
.head-nav .btn-sidebar-open {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  height: 55px;
  line-height: 1;
  display: block;
  cursor: pointer;
  text-align: center;
  background: transparent;
  border: 1px solid #d1d1d1; }

.head-nav .btn-sidebar-open {
  right: 0;
  position: absolute;
  width: 55px;
  color: #fff; }

.head-nav .btn-mobile-nav {
  color: #fff;
  right: 65px;
  display: none;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px; }

@media (max-width: 991px) {
  .head-nav .nav {
    display: none;
    left: 100%;
    transition: all .6;
    background: #fff none repeat scroll 0 0;
    float: none;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 99; }
    .head-nav .nav.open {
      display: block;
      left: 30%; }
      .head-nav .nav.open ul {
        padding-top: 40px; }
        .head-nav .nav.open ul li {
          margin: 0;
          width: 100%; }
          .head-nav .nav.open ul li > a {
            color: #444;
            display: block;
            padding: 15px 12px; }
            .head-nav .nav.open ul li > a:after {
              content: none; }
  .overlay-nav {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    .overlay-nav:after {
      color: #fff;
      content: "X";
      display: block;
      font-size: 18px;
      position: absolute;
      right: 76%;
      top: 15px; }
  .head-nav .btn-mobile-nav {
    display: block; } }

@media (max-width: 767px) {
  .head-nav {
    min-height: 40px;
    padding: 0 40px 0 0; }
    .head-nav .btn-mobile-nav,
    .head-nav .btn-sidebar-open {
      height: 40px;
      line-height: 40px; }
    .head-nav .btn-sidebar-open {
      width: 40px; }
    .head-nav .btn-mobile-nav {
      right: 50px;
      padding-left: 13px;
      padding-right: 13px; } }

@media (max-width: 991px) {
  .mobile-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 100;
    padding: 50px 14px 20px 50px;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: transform 0.4s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -moz-transition: transform 0.4s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -ms-transition: transform 0.4s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    transition: transform 0.4s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
    .mobile-nav .mobile-nav-close {
      position: absolute;
      right: 10px;
      top: 10px;
      border: 0;
      margin: 0;
      padding: 0;
      background: transparent;
      display: block; }
      .mobile-nav .mobile-nav-close .rsicon {
        color: #3d4451;
        font-size: 25px;
        line-height: 1;
        display: block; }
    .mobile-nav .mobile-nav-inner {
      overflow: auto;
      position: relative;
      height: 100%; }
    .mobile-nav .nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .mobile-nav .nav ul li {
        line-height: 1; }
      .mobile-nav .nav ul > ul > li {
        margin-bottom: 20px; }
        .mobile-nav .nav ul > ul > li > a {
          font-weight: 600;
          text-transform: uppercase; } }

.head-sticky.head-bar {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23); }
  .head-sticky.head-bar .logo {
    margin-top: 0; }
  .head-sticky.head-bar .head-nav {
    min-height: 40px;
    padding: 0 40px 0 0; }
    .head-sticky.head-bar .head-nav ul > li > a {
      color: #444; }
    .head-sticky.head-bar .head-nav .btn-mobile-nav, .head-sticky.head-bar .head-nav .btn-sidebar-open {
      height: 40px; }
    .head-sticky.head-bar .head-nav .btn-sidebar-open {
      width: 40px;
      color: #444; }
    .head-sticky.head-bar .head-nav .btn-mobile-nav {
      color: #666;
      right: 50px;
      padding-left: 13px;
      padding-right: 13px; }

.section-about {
  padding-top: 40px;
  position: relative; }
  .section-about .section-box {
    padding: 0;
    background: #fff; }
  .section-about .profile {
    padding: 57px 50px 15px 50px; }
  .section-about .profile-photo {
    margin-right: 10%;
    margin-bottom: 10px; }
    .section-about .profile-photo img {
      width: 100%;
      display: block; }
  .section-about .profile-info {
    color: #3d4451;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede; }
  .section-about .profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px; }
    .section-about .profile-title span {
      font-weight: 300; }
  .section-about .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0; }

.profile-preword {
  margin-bottom: 18px; }
  .profile-preword .profile-preword span {
    background: #26cc63;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative; }
    .profile-preword .profile-preword span:before {
      content: '';
      width: 0;
      height: 0;
      top: 100%;
      left: 5px;
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent;
      border-left-color: #26cc63; }

.profile-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .profile-list li {
    margin-bottom: 13px; }
  .profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase; }
  .profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7; }
    .profile-list .cont a {
      color: inherit; }
    .profile-list .cont.profile-vacation {
      font-size: 14px; }
  .profile-list .button {
    background: #26cc63;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .profile-list .rsicon {
    margin-right: 10px;
    vertical-align: baseline; }

.profile-social {
  padding: 15px 0;
  background: #26cc63; }

@media (max-width: 992px) {
  .section-about .profile {
    padding: 50px 40px 15px 40px; }
  .section-about .profile-photo {
    margin-right: 0;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .section-about {
    padding-top: 0; }
  .section-about .profile {
    padding: 30px 20px 15px 20px; }
  .profile-list .title, .profile-list .cont {
    width: 100%;
    float: none;
    line-height: 1.2; }
  .profile-list .title {
    margin-bottom: 3px; }
  .profile-list .cont {
    margin-left: 0;
    margin-bottom: 15px; } }

@media (max-width: 480px) {
  .section-about .row > div {
    width: 100%; }
  .section-about .profile-title {
    font-size: 28px; } }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .social li {
    display: inline-block;
    margin: 5px 15px; }
    .social li a {
      color: #fff;
      display: inline-block;
      font-size: 18px;
      height: 45px;
      line-height: 45px;
      position: relative;
      width: 45px; }
      .social li a:hover {
        text-decoration: none; }

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; }
    .social li a {
      width: 35px;
      height: 35px; } }

.section-txt-btn {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: lighter; }
  .section-txt-btn .btn {
    padding: 21px 55px;
    letter-spacing: 0.05em;
    margin: 5px;
    border: 1px solid #ddd; }

.btn-border {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #cbcdcf;
  box-shadow: none;
  color: #3d4451 !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

.section-txt-btn p:last-child,
.section-text .section-box *:last-child {
  margin-bottom: 0; }

.section-title {
  color: #3d4451;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center; }

.section-skills {
  margin: 40px 0; }

.section-skills .section-box {
  padding: 50px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }

.progress-bar {
  position: relative;
  margin-bottom: 40px;
  color: #444; }
  .progress-bar .bar-data {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px; }
  .progress-bar .bar-value {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    display: block; }
  .progress-bar .bar-title {
    display: block;
    margin-bottom: 5px; }
  .progress-bar .bar-fill {
    background: #00cc66;
    width: 0;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: width 400ms ease-out 100ms;
    -moz-transition: width 400ms ease-out 100ms;
    transition: width 400ms ease-out 100ms; }
  .progress-bar .bar-line {
    height: 5px;
    position: relative; }
    .progress-bar .bar-line:after {
      content: '';
      opacity: 0.2;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #00cc66; }

@media (min-width: 768px) {
  .section-skills .section-box .row:last-child .progress-bar {
    margin-bottom: 0; } }

@media (max-width: 767px) {
  .section-skills .section-box {
    padding-bottom: 35px; }
    .section-skills .section-box .row:last-child .col-sm-6:last-child .progress-bar {
      margin-bottom: 0; } }

.timeline {
  position: relative; }

.timeline .timeline-bar {
  background: #00cc66;
  content: '';
  width: 4px;
  opacity: 0.2;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%; }

.timeline .timeline-inner {
  position: relative; }

.timeline-box {
  width: 50%;
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative; }

.timeline-box:last-child {
  margin-bottom: 0; }

.timeline-box h3 {
  color: #414141;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px; }

.timeline-box h4 {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px; }

.timeline-box .date {
  color: #00cc66;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px; }

.timeline-box-compact .date, .timeline-box-compact h3, .timeline-box-compact h4 {
  text-align: left; }

.timeline-box-compact .date span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  padding: 5px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.timeline-box-compact .date span:before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent; }

.timeline-box-inner {
  border-color: #00cc66;
  background: #fff;
  padding: 20px 5%;
  position: relative;
  border-width: 5px 0 0 0;
  border-style: solid; }

.timeline-box-left .dot,
.timeline-box-right .dot {
  top: 80px;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.timeline-box-left .arrow,
.timeline-box-right .arrow {
  top: 60px;
  width: 12px;
  height: 41px;
  display: block;
  position: absolute;
  background-image: url(img/arrows.png);
  background-repeat: no-repeat; }

.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
  width: 0;
  height: 0;
  content: '';
  display: block; }

.timeline-box-left {
  float: left;
  clear: left; }

.timeline-box-left .timeline-box-inner {
  margin-right: 35px; }

.timeline-box-left .timeline-box-inner .arrow {
  right: -12px;
  background-position: -18px 0; }

.timeline-box-left .timeline-box-inner .arrow:before {
  margin-right: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff; }

.timeline-box-left .dot {
  background: #00cc66;
  right: 0px;
  margin-right: -4px; }

.timeline-box-right {
  float: right;
  clear: right; }

.timeline-box-right .timeline-box-inner {
  margin-left: 35px; }

.timeline-box-right .timeline-box-inner .arrow {
  left: -12px;
  background-position: 0 0; }

.timeline-box-right .timeline-box-inner .arrow:before {
  margin-left: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid #fff; }

.timeline-box-right .dot {
  left: 0px;
  margin-left: -4px; }

@media (max-width: 600px) {
  .timeline-box {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0; }
  .timeline-box .timeline-box-inner {
    margin-left: 0;
    margin-right: 0; }
  .timeline-box .timeline-box-inner .arrow {
    display: none; }
  .timeline-box .dot {
    display: none; } }
